.project {
  background: var(--bg-color-variante);
  width: 90%;
  height: fit-content;
  padding: 0.5em;
  border-radius: 20px;
  opacity: 0.9;
  box-shadow: 1px 1px 13px 2px var(--bg-color-variante);
  .image {
    width: 100%;
    object-fit: contain;
    height: fit-content;
    border-radius: 10px;
  }
}
