.header {
  text-align: center;
  display: grid;
  justify-items: center;
  grid-gap: 2em;
  margin-top: 1em;
  .welcome {
    .title {
      font-size: 2em;
    }
    .subtitle {
      font-size: 16px;
      color: var(--light-color);
    }
  }
  .profile {
    border-radius: 100px 100px 0 0;
  }
}
