@import "../../../sass/mixins/breakpoints";
.container {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }
}
